@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0px;
}

.wrapper1 {
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

    .wrapper1 .title1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #d00149;
        text-transform: uppercase;
        text-align: center;
    }

    .wrapper1 .form1 {
        width: 100%;
    }

        .wrapper1 .form1 .input_field1 {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }



            .wrapper1 .form1 .input_field1 lbl {
                width: 200px;
                color: #757575;
                margin-right: 10px;
                font-size: 14px;
            }

            .wrapper1 .form1 .input_field1 .input2 {
                width: 60%;
                outline: none;
                margin-left: 11px;
            }

            .wrapper1 .form1 .input_field1 .inpu {
                width: 60%;
                outline: none;
                margin-left: 17px;
            }

            .wrapper1 .form1 .input_field1 .txtRes {
                width: 60%;
                outline: none;
                margin-left: 76px;
            }



            .wrapper1 .form1 .input_field1 .btnGen {
                width: 30%;
                padding: 8px 10px;
                font-size: 15px;
                border: 1px;
                background: #d00149;
                cursor: pointer;
                margin-left: 80px;
                border-radius: 3px;
                outline: none;
                color: white;
            }

                .wrapper1 .form1 .input_field1 .btnGen:hover {
                    background: #d00149;
                }

            .wrapper1 .form1 .input_field1 .btnSave {
                width: 30%;
                padding: 8px 10px;
                font-size: 15px;
                margin-left: 20px;
                border: 1px;
                background: #d00149;
                cursor: pointer;
                border-radius: 3px;
                outline: none;
                color: white;
            }

                .wrapper1 .form1 .input_field1 .btnSave:hover {
                    background: #d00149;
                }

body {
}
