/*.wrapper {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    padding: 30px;
}

.wrapper .forms{
    width: 100%;
}

    .wrapper .forms .field .label {
        width: 200px;
        color: #757575;
        margin-right: 10px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wrapper .forms .field .input1 {
        width: 100%;
        outline: none;
    }

    .wrapper .forms .field .drop1{
        width: 45%;
        outline: none;
        margin-left: 20px;
        
    }
    .wrapper .forms .field .drop2 {
        width: 45%;
        outline: none;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .wrapper .forms .field .label1 {
        margin-left: 110px;
    }
    .wrapper .forms .field .label2 {
        margin-left: 500px;
        
    }
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.body{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}*/
.container{
    width: 100%;
    padding: 7px 10px;
    background-color: #f2f2f2;
}
.container formview .form-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
formview .form-details .input-box {
    margin: 10px 0 6px 0;
    width: calc(100% / 3 - 20px);
}
formview .form-details .input-box2 {
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}
formview .form-details .input-box4 {
    margin: 10px 0 6px 0;
    align-content: center;
    width: calc(100% / 1 - 40px);
}
formview .form-details .input-box3 {
    margin: 10px 0 6px 0;
    align-content: center;
    width: calc(100% / 1 - 100px);
}
formview .form-details .input-box6 {
    margin: 5px 0 3px 0;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2 - 100px);
}
formview .form-details .input-box7 {
    margin: 5px 0 3px 0;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2 - 100px);
}
.form-details .input-box DropDownList {
    height: 25px;
    width: 100%;
}
.form-details .input-box input {
    height: 25px;
    width: 100%;
}

