.wrapper {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    padding: 30px;
}

.wrapper .forms{
    width: 100%;
}

    .wrapper .forms .field .label {
        width: 200px;
        color: #757575;
        margin-right: 10px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wrapper .forms .field .input1 {
        width: 100%;
        outline: none;
    }

    .wrapper .forms .field .drop1{
        width: 45%;
        outline: none;
        margin-left: 20px;
        
    }
    .wrapper .forms .field .drop2 {
        width: 45%;
        outline: none;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .wrapper .forms .field .label1 {
        margin-left: 110px;
    }
    .wrapper .forms .field .label2 {
        margin-left: 500px;
        
    }
