@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.wrapp {
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

    .wrapp .title1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #d00149;
        text-transform: uppercase;
        text-align: center;
    }

    .wrapp .form1 {
        width: 100%;
    }

        .wrapp .form1 .input_field1 {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

            .wrapp .form1 .input_field1 label {
                width: 200px;
                color: #757575;
                margin-right: 10px;
                font-size: 14px;
                margin-top: 10px;
            }

            .wrapp .form1 .input_field1 .input1 {
                width: 100%;
                outline: none;
                margin-top: 10px;
            }
.wrapp .form1 .input_field1 .btn3 {
    width: 40%;
    padding: 8px 10px;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 15px;
    border: 1px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    background-color: #d00149;
    color: White;
}