@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.wrap {
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

    .wrap .title1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: #d00149;
        text-transform: uppercase;
        text-align: center;
    }

    .wrap .form1 {
        width: 100%;
    }

        .wrap .form1 .input_field1 {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }

            .wrap .form1 .input_field1 lbl {
                width: 200px;
                color: #757575;
                margin-right: 10px;
                font-size: 14px;
                margin-top: 10px;
            }

            .wrap .form1 .input_field1 .input2 {
                width: 60%;
                outline: none;
                margin-top: 10px;
                margin-left: 14px;
            }
            .wrap .form1 .input_field1 .inpu {
                width: 60%;
                outline: none;
                margin-top: 10px;
                margin-left: 20px;
            }
            .wrap .form1 .input_field1 .txtRes {
                width: 60%;
                outline: none;
                margin-top: 10px;
                margin-left: 77px;
            }

            .wrap .form1 .input_field1 .txtDrop {
                width: 60%;
                outline: none;
                margin-top: 10px;
                margin-left: 60px;
            }
.wrap .form1 .input_field1 .btnGen {
    width: 40%;
    padding: 8px 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 15px;
    border: 1px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    background-color: #d00149;
    color: White;
}
            .wrap .form1 .input_field1 .btnSave {
                width: 40%;
                padding: 8px 10px;
                margin-left: 30px;
                margin-top: 20px;
                font-size: 15px;
                border: 1px;
                cursor: pointer;
                border-radius: 3px;
                outline: none;
                background-color: #d00149;
                color: White;
            }

