.icon{
    margin-right: 10px;
    display: none;
}
.loading{
    background-color: #014B94;
    color: #eee;
}
.loading .icon{
    display: inline-block;
    color: #eee;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}