.btnScan {
    width: max-content;
    padding: 12px 10px;
    margin-left: 50px;
    font-size: 15px;
    border: 1px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    background-color: #d00149 !important;
    color: White;
}

.big {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


    .big .container1 {
        width: 350px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }

        .big .container1 .input_field1 {
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }


            .big .container {
                width: 700px;
                background: white;
                border-color: lightgrey;
                border-bottom: 1px solid;
                border-right: 1px solid;
                border-radius: 25px;
            }

    .big .container2 {
        width: 500px;
        margin-left: 10px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }
        .big .container2 .btn {
            width: 25%;
            padding: 8px 10px;
            margin-left: 35%;
            font-size: 15px;
            border: 1px;
            cursor: pointer;
            border-radius: 3px;
            outline: none;
            background-color: #d00149;
            color: White;
        }

        .big .container2 .input_field1 {
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .big .container2 #header {
            width: 500px;
        }

    .big .container3 {
        /* width: 170px;
        height: 100px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-bottom: 20px;*/
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        .big .container3 .forms {
             width: 170px;
        height: 100px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        }

    .big .container3 .input_field1 {
        margin-left: 30px;
        margin-top: 30px;
    }
        .big .container3 .input_field2 {
            font-size: 24px;
            margin-left: 40%;
            margin-bottom: 20%;
        }

    .big .container4 {
        width: 170px;
        height: 100px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

        .big .container4 .input_field1 {
            margin-left: 30px;
            margin-top: 30px;
        }

        .big .container4 .input_field2 {
            font-size: 24px;
            margin-left: 40%;
            margin-bottom: 20%;
        }
 

    .big .container1 .forms {
        width: 100%;
    }


        .big .container1 .forms .input_field1 .input1 {
            width: 100%;
            outline: none;
            margin-bottom: 10px;
        }

        .big .container1 .forms .input_field1 .label {
            width: 200px;
            color: #757575;
            margin-right: 10px;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .big .container1 .forms .input_field1 .btn {
            width: 25%;
            padding: 8px 10px;
            margin-left: 55px;
            font-size: 15px;
            border: 1px;
            cursor: pointer;
            border-radius: 3px;
            outline: none;
            background-color: #d00149;
            color: White;
        }


    .big .container .forms .input_field1 .input {
        width: 25%;
        outline: none;
        margin-left: 5px;
    }

    .big .container .forms .input_field1 .label1 {
        width: 200px;
        color: #757575;
        margin-right: 10px;
        font-size: 14px;
    }

    .big .container .forms .input_field1 .btn {
        width: 15%;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        background-color: gray;
        color: White;
        margin-bottom: 10px;
    }
    .big .container .forms .input_field1 .labelSearch {
        margin-left: 45%;
        width: 25%; 
    }
    .big .container .forms .input_field1 .labelSearch2 {
        margin-left: 45%;
        margin-bottom: 10px;
        width: 30%;
    }
    .big .container .forms .input_field1 .inputSearch {
        margin-bottom: 10px;
    }
    .big .container .forms .input_field1 .btnSearch {
        width: 10%;
        height: 8%;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        background-color: #d00149;
        color: White;
        margin-bottom: 15px;
        border: none;
        border-radius: 3px;
    }
        .big .container .gridview .btn {
            background-color: gray;
            color: white;
            font-size: 10px;
        }


