

.container3 {
    /* width: 170px;
        height: 100px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-bottom: 20px;*/
    width: 800px;
    background-color: white;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
 .container3 .forms1 {
        width: 400px;
        height: 100%;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 100px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-top:20px;
        padding-right:20px;
    }
 .container3 .forms1 .input_field1{
     margin-bottom: 4px;
 }

    .container3 .forms .input_field1 .input1 {
        resize: none !important;
        height: 350px !important;
    }

