.big {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


    .big .container1 {
        width: 350px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }
        .big .container1 .input_field1 {
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    .big .container {
        width: 700px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }
    .big .container2 {
        width: 500px;
        margin-left: 10px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }
        .big .container2 .input_field1 {
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    .big .container2 #header{
        width: 500px;
    }

    .big .container1 .forms {
        width: 100%;
    }


        .big .container1 .forms .input_field1 .input1 {
            width: 100%;
            outline: none;
            margin-bottom: 10px;
        }

        .big .container1 .forms .input_field1 .label {
            width: 200px;
            color: #757575;
            margin-right: 10px;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .big .container1 .forms .input_field1 .btn {
            width: 25%;
            padding: 8px 10px;
            margin-left: 55px;
            font-size: 15px;
            border: 1px;
            cursor: pointer;
            border-radius: 3px;
            outline: none;
            background-color: #d00149;
            color: White;
        }


        .big .container .forms .input_field1 .input {
            width: 25%;
            outline: none;
            margin-left: 5px;
        }

        .big .container .forms .input_field1 .label1 {
            width: 200px;
            color: #757575;
            margin-right: 10px;
            font-size: 14px;
        }
    .big .container .forms .input_field1 .btn {
        width: 15%;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        background-color: gray;
        color: White;
        margin-bottom: 10px;
    }
    .big .contain {
        width: 500px;
        margin-left: 10px;
        background: white;
        border-color: lightgrey;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-radius: 25px;
    }
        .big .contain .input_field1 {
            margin-top: 15px;
            margin-left: 20px;
            margin-bottom: 10px;
        }

    .big .container .forms .input_field1 .labelSearch {
        margin-left: 33%;
        width: 25%;
    }

    .big .container .forms .input_field1 .btnSearch {
        width: 10%;
        height: 8%;
        margin-left: 10px;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        background-color: #d00149;
        color: White;
        margin-bottom: 15px;
        border: none;
        border-radius: 3px;
    }






/*
    .big .gridcontainer {
        max-width: 500px;
        width: 50%;
        background-color: white;
        margin: 20px auto;
        padding: 30px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    }*/

/*
.container2 {
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    margin-left: 800px;
    position: relative;
}*/
/*
    .container1 .form {
        width: 100%;
    }

        .container1 .form .input_field .input {
            width: 100%;
            outline: none;
        }

        .container1 .form .input_field .label1 {
            width: 200px;
            color: #757575;
            margin-right: 10px;
            font-size: 14px;
        }*/
